.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.avatar__img {
  width: 100%;
  height: auto;
}
.like{
  padding-top: 2px;
  width: 68px;
  height:24px;
  background-color:Lightgrey;
  position:absolute;
  right:425px;
  top:50px;
  text-decoration-color: black;
  text-align: center;
  border-radius: 5px;
}
